extends base.pug
block content
 .login-box
  h1 ADD PLAN
  .textbox
    input(type='text' placeholder='Plan Name')
  .textbox
    input(type='text' placeholder='Duration')
  .textbox
    input(type='text' placeholder='Price')
  .textbox
    input(type='text' placeholder='Ratings')
  .textbox
    input(type='text' placeholder='Discount')
  input.btn.sub(type='button' value='Add Plan')