link(rel="stylesheet" , href="../css/footer.css")
footer.global
  .container.pp
    .row
      .col-md-6.col-md-3
        h6 The Logo
        p
          | That yellow arrow is more than just a decorative swoosh. Our logo was created to represent the message that it sells everything from A to Z (the arrow connects the two letters) and also represents the smile that customers would experience by shopping on the Amazon.com Web site (the arrow becomes a smile).
      .col-sm-6.col-md-2
        h6 Company
        ul
          li
            a(href='#') Who we Are
          li
            a(href='#') Blog
          li
            a(href='#') Careers
          li
            a(href='#') Contact
      .col-sm-6.col-md-2
        h6 For Foodies
        ul
          li
            a(href='#') Code Of Conduct
          li
            a(href='#') Community
          li
            a(href='#') Developers
          li
            a(href='#') Blogger Help
      .col-sm-6.col-md-2
        h6 For You
        ul
          li
            a(href='#') Terms 
          li
            a(href='#') Privacy Policy
          li
            a(href='#') Security
          li
            a(href='#') Sitemap
      .social
        h6 Follow us
        a(href='#')
          i.fab.fa-facebook.f
        a(href='#')
          i.fab.fa-twitter
        a(href='#')
          i.fab.fa-snapchat-ghost
        a(href='#')
          i.fab.fa-instagram
        a(href='#')
          i.fab.fa-google-plus
    p.copyright  &copy; Copyright All rights reserved. 
