link(rel="stylesheet" , href="../css/footer.css")
footer.global
  .container
    .row
      .col-md-6.col-md-3
        h6 The Logo
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          | labore et dolore magna aliqua.
      .col-sm-6.col-md-2
        h6 Services
        ul
          li
            a(href='#') Email Marketing
          li
            a(href='#') Campaigns
          li
            a(href='#') Branding
          li
            a(href='#') Offline
      .col-sm-6.col-md-2
        h6 About
        ul
          li
            a(href='#') Our Story
          li
            a(href='#') Benefits
          li
            a(href='#') Team
          li
            a(href='#') Careers
      .col-sm-6.col-md-2
        h6 Legal
        ul
          li
            a(href='#') Terms &amp; Conditions
          li
            a(href='#') Privacy Policy
          li
            a(href='#') Terms of use
      .social
        h6 Follow us
        a(href='#')
          i.fab.fa-facebook.f
        a(href='#')
          i.fab.fa-twitter
        a(href='#')
          i.fab.fa-snapchat-ghost
        a(href='#')
          i.fab.fa-instagram
        a(href='#')
          i.fab.fa-google-plus
    p.copyright  &copy; Copyright All rights reserved. 
