link(rel="stylesheet" , href="./css/header.css")
.navbar
  ul.nav
    li
      a(href='#home') Features
    li
      a(href='#about') Details
    li
      a(href='#portfolio') Reviews
    li
      a(href='#services') Plans
    li
      a(href='/signup') Signup
