link(rel="stylesheet" , href="./css/plan.css")
.plan
  h3.plan-title
    | Starter
  .plan-cost
    span.plan-price $19
    span.plan-type / Monthly
  ul.plan-features
    li
      i.ion-checkmark  
      | 5GB Linux Web Space
    li
      i.ion-checkmark  
      | 5 MySQL Databases
    li
      i.ion-checkmark  
      | Unlimited Email
    li
      i.ion-checkmark  
      | 250Gb Monthly Transfer
    li
      i.ion-checkmark  
      | 24/7 Tech Support
    li
      i.ion-checkmark  
      | Daily Backups
  .plan-select
    a(href='') Select Plan
