extends base.pug
block content
 .review
  h1 REVIEWS
  each review in reviews
   include reviewCard.pug
 .linear
  input.btno(type='button' value='Write A Review')
 block scripts
  script(src="./js/review.js")


   