extends base.pug
block content
 .snip1214
  each user in users
   include userCard.pug
 .linear
   input#em(type='email' placeholder='Email Address')
   input.btno(type='button' value='Delete User')
   input.btno(type='button' value='Update User')
 