link(rel="stylesheet" , href="./css/plan.css")
.plan
  h6.plan-title
    | #{user.role}
  ul.plan-features
    li
      |  #{user.email} 
    li
      |   #{user.id} 
    li
      |  #{user.password} 

  
