@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:800);

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.snip1214 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #000000;
    text-align: center;
    font-size: 16px;
    width: 80%;
    max-width: 100%;
    margin: 30px 10px;
    display: inline;
    justify-content: center;
    align-items: center;
    margin-left: 230px;
}

.snip1214 .plan {
    margin-left: 10px;
    width: 25%;
    position: relative;
    float: left;
    /* background-color: #ffffff; */
    border: 1px solid white;
    border-radius: 30px;
    margin-top: 70px;
}

.snip1214 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.snip1214 header {
    position: relative;
}

.snip1214 .plan-title {
    position: relative;
    top: 0;
    font-weight: 800;
    padding: 5px 15px;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    display: inline-block;
    background-color: #222f3d;
    color: #ffffff;
    text-transform: uppercase;
}

.snip1214 .plan-cost {
    padding: 0px 10px 20px;
}

.snip1214 .plan-price {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 800;
    font-size: 2.4em;
    color: #34495e;
}

.snip1214 .plan-type {
    opacity: 0.6;
    color: white;
}

.snip1214 .plan-features {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: outside none none;
    font-size: 0.8em;
}

.snip1214 .plan-features li {
    border-top: 1px solid #d2d7e2;
    padding: 10px 5%;
    color: white;
}

.snip1214 .plan-features li:nth-child(even) {
    background: rgba(0, 0, 0, 0.08);

}

.snip1214 .plan-features i {
    margin-right: 8px;
    opacity: 0.4;
}

.snip1214 .plan-select {
    border-top: 1px solid #d2d7e2;
    padding: 10px 10px 0;
}

.hidden {
    display: none;
}

#em {
    border-bottom: 2px solid #4caf50;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 200px;
    /* float: left; */
    /* margin: 0 10px; */
}

.btno {
    width: 250px;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

.btno:hover {
    transform: scale(1.2);
    border: 4px solid #4caf50;
}

.linear {
    display: flex;
    justify-content: space-evenly;
}

.snip1214 .plan-select a {
    background-color: #222f3d;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5em 1em;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 20px;
    /* display: inline-block; */
}

.snip1214 .plan-select a:hover {
    background-color: #46627f;
}